@import "./variables";
// Responsive //
@media screen and(max-width: 992px) {
  .nav {
    width: 100%;
    height: auto;
  }
  .hero {
    padding-top: 2rem;
    max-height: max-content;
    width: 100%;
  }
  //Margen del contenedor del titulo del hero//
  .hero__div--title{
    margin-left: 1.5rem;
  }
  //Ancho del titulo del hero//
  .div__title--hero{
    width: 100%;
    
  }
  
}
@media screen and(max-width: 768px) {
  .div__conexion {
    display: none;
  }
  //Tamaño del titulo del hero//
  .div__title--hero{
    font-size: 1.8rem;
  }
  .hero__img--laptop {
  position: absolute;
  width: 25rem;
  height: auto;
  bottom: -8rem;
  left: 0;
  }
 
}
