@import "./variables";
// Responsive //
@media screen and(max-width: 992px) {
  .nav {
    height: auto;
  }
  
  
}
@media screen and(max-width: 768px) {
  .div__conexion {
    display: none;
  }
  .hero__img--laptop {
  position: absolute;
  width: 15rem;
  height: auto;
  bottom: 5rem;
  right: 0%;
  left: 100%;
  }
 
}
