//variables de color//
$color-fondo-primario: #f0f0f0;
$color-primario: #69a7cec4;
$color-active: #4795c596;
$color-animacion: #69a7ce77;
$color-fondo-secundario: #252525f3;
$color-contenedor: #f9f9f9;
$color-fondo-uno:#252525;
$color-fondo-dos:#313131;
$color-fondo-transparente: #00000000;






